<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <h1><%= result.title %></h1>
    <p><%= result.content %></p>

    <div>
        <button onclick="location.href='/edit/<%= result._id %>'">수정</button>
        <button onclick="javascript:btn()">삭제</button>
    </div>
    <script>
        function btn(){
            if(!confirm('삭제하시겠습니까?')){
                
            }else{
                location.href='/delete/<%= result._id %>';
            }
            
        }
    </script>
</body>
</html>